@model Dram_Capstone.Models.WhiskeyViewModels.WhiskeyEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>


    <h4>Whiskey</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Whiskey.WhiskeyId" />
                <input type="hidden" asp-for="Whiskey.User_Id" />
                <input type="hidden" asp-for="Review.Review_Id" />
                <div class="form-group">
                    <label asp-for="Whiskey.Distillery" class="control-label"></label>
                    <input asp-for="Whiskey.Distillery" class="form-control" />
                    <span asp-validation-for="Whiskey.Distillery" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Whiskey.Name" class="control-label"></label>
                    <input asp-for="Whiskey.Name" class="form-control" />
                    <span asp-validation-for="Whiskey.Name" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Whiskey.Favorite" /> @Html.DisplayNameFor(model => model.Whiskey.Favorite)
                    </label>
                </div>
                @if (Model.Whiskey.Review_Id != null)
                {
                    <div class="form-group">
                        <label asp-for="Whiskey.Review.Review_Id" class="control-label"></label>
                        <input asp-for="Whiskey.Review.Review_Id" class="form-control" />
                        <span asp-validation-for="Whiskey.Review.Review_Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Whiskey.Review.ReviewScore" class="control-label"></label>
                        <input asp-for="Whiskey.Review.ReviewScore" class="form-control" />
                        <span asp-validation-for="Whiskey.Review.ReviewScore" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Whiskey.Review.WoodyFlavor_Id" class="control-label"></label>
                        <select asp-for="Whiskey.Review.WoodyFlavor_Id" form-control" asp-items="@Model.WoodyFlavors"></select>
                        <span asp-validation-for="Whiskey.Review.WoodyFlavor_Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Whiskey.Review.WineyFlavor_Id" class="control-label"></label>
                        <select asp-for="Whiskey.Review.WineyFlavor_Id" form-control" asp-items="@Model.WineyFlavors"></select>
                        <span asp-validation-for="Whiskey.Review.WineyFlavor_Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Whiskey.Review.OffNoteFlavor_Id" class="control-label"></label>
                        <select asp-for="Whiskey.Review.OffNoteFlavor_Id" form-control" asp-items="@Model.OffNoteFlavors"></select>
                        <span asp-validation-for="Whiskey.Review.OffNoteFlavor_Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Whiskey.Review.FruityFlavor_Id" class="control-label"></label>
                        <select asp-for="Whiskey.Review.FruityFlavor_Id" form-control" asp-items="@Model.FruityFlavors"></select>
                        <span asp-validation-for="Whiskey.Review.FruityFlavor_Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Whiskey.Review.FragrantFlavor_Id" class="control-label"></label>
                        <select asp-for="Whiskey.Review.FragrantFlavor_Id" form-control" asp-items="@Model.FragrantFlavors"></select>
                        <span asp-validation-for="Whiskey.Review.FragrantFlavor_Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Whiskey.Review.PeatyFlavor_Id" class="control-label"></label>
                        <select asp-for="Whiskey.Review.PeatyFlavor_Id" form-control" asp-items="@Model.PeatyFlavors"></select>
                        <span asp-validation-for="Whiskey.Review.PeatyFlavor_Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Whiskey.Review.GrainyFlavor_Id" class="control-label"></label>
                        <select asp-for="Whiskey.Review.GrainyFlavor_Id" form-control" asp-items="@Model.GrainyFlavors"></select>
                        <span asp-validation-for="Whiskey.Review.GrainyFlavor_Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Whiskey.Review.GrassyFlavor_Id" class="control-label"></label>
                        <select asp-for="Whiskey.Review.GrassyFlavor_Id" form-control" asp-items="@Model.GrassyFlavors"></select>
                        <span asp-validation-for="Whiskey.Review.GrassyFlavor_Id" class="text-danger"></span>
                    </div>
                 }
                    <input type="submit" value="Save" class="btn btn-primary" />
            </form>
        </div>
    </div>
        <div>
             @*<a asp-action="Edit" asp-route-id="@Model.Whiskey.WhiskeyId">Save Edits</a> |*@
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
