@model IEnumerable<Dram_Capstone.Models.Whiskey>

@{
    ViewData["Title"] = "My Library";
}

<h1>My Whiskey Library</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WhiskeyEntry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Favorite)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
            <td>
                @Html.ActionLink(($"{item.WhiskeyEntry}"), "Details", new { id = item.WhiskeyId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Favorite)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.WhiskeyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
