@model Dram_Capstone.Models.Review

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TastingNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TastingNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WoodyFlavor_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WoodyFlavor_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WineyFlavor_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WineyFlavor_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OffNoteFlavor_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OffNoteFlavor_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FruityFlavor_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FruityFlavor_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FragrantFlavor_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FragrantFlavor_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeatyFlavor_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeatyFlavor_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrainyFlavor_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrainyFlavor_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrassyFlavor_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrassyFlavor_Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Review_Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
