@model Dram_Capstone.Models.Review

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TastingNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TastingNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WoodyFlavor_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WoodyFlavor_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WineyFlavor_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WineyFlavor_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OffNotesFlavor_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OffNotesFlavor_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FruityFlavor_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FruityFlavor_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FragrantFlavor_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FragrantFlavor_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeatyFlavor_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeatyFlavor_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrainyFlavor_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrainyFlavor_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrassyFlavor_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrassyFlavor_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReviewId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
